# Besu test network
besu_test_network/logs

# IPFS
# Local IPFS cluster volume
ipfs_cluster/compose/

# Blockscout
blockscout/redis-data
blockscout/blocscout-db-data
blockscout/logs
blockscout/dets

# CLI Client
bin/